<h1>home</h1>
<% if current_user %>
  <h2>Your Subscriptions</h2>
  <div class="list-group">
  <% current_user.subscriptions.each do |channel| %>
    <%= link_to channel.name, channel_path(channel), :class => "list-group-item" %>
  <% end %>
  </div>
<% else %>
  <% if !@videos.nil? %>
    <center>
    <h3> All the Popular videos </h3>
    <% @videos.order_by(point: 'desc').each do |video| %>
      <div>
          <span><%= link_to image_tag(video.file.url :thumb), video_path(video) %>
          <center><h5><%= video.name %></h5></center></span>
      </div>

    <% end %>
    </center>
  <% end %>
<% end %>
