<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      <%= @channel.name %> has uploaded a new video.<br>
      You can watch it here:<br>
      <%= video_url(@video) %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
