<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= render @course %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>
<% if current_user && current_user == @course.channel.user %>
  <%= link_to "Add Video", new_video_path(channel_id: @course.channel, course_id: @course), :class => 'btn btn-default' %>
<% end %>
